@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');



body {
    font-family:  'Merriweather', serif;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-weight:500;
    font-size: 1em;
}

header {
    background-color: #ffffff;
    color: rgb(0, 145, 12);
    text-align: center;
    padding: 1em;
}
#subtitulo{
    color: #333333a6;
    font-size: 0.8em;
}

nav {
    background-color: #333333c2;
}

nav ul {
    margin: 0;
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

nav ul li a:hover {
    border-radius: 30px;
    background-color: #000000;
    color: #ffffff;
}

section {
    padding: 2em;
}

section ul {
    list-style: none;
    padding: 0;
}

section ul li {
    text-align: left;
    margin-bottom: 1em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#container-reciclagem {
    background-image: url(./img/depositphotos_118972136-stock-photo-simple-abstract-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: rgb(0, 145, 12);
}
#container_sobre{
    display: flex;
    justify-content: center;
}
#sobre{
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 0px;
    width: 80%;
    border: solid 0.3px green;
    background-color: #ffffff;
}
.texto{
    font-weight: 200;
}

.tipos_titulo{
    background-color: #ffffff;
    width: 100%;  
    height: 1.3em;
    text-align: center;
    border-radius: 20px;
    border: solid 1px green;
    text-shadow: 0.02em 0.02em black;
}

.container_tipos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.titulos_tipos{
    font-size: 2em;
    font-weight: 600;
    text-shadow: 0.05em 0.05em black;
}

.texto_tipos{
    text-shadow: 0.05em 0.05em black;
}

.texto_acordeao{
    font-size: 0.8em;
    font-weight: 400;
}

.titulos_acordeao{
    font-size: 1.2em;
}